.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Clarity City", sans-serif;
}

.chatRoot {
  flex: 1;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    108.78% 108.78% at 50.02% 19.78%,
    #ffffff 57.29%,
    #eeeeee 100%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  font-family: "Clarity City", sans-serif;
}

.chatEmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Clarity City", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chatEmptyStateTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  line-height: 24px;
  margin-bottom: 16px;
}

.chatEmptyStateSubtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.01em;
  color: #616161;
  max-width: 490px;
  margin-block-end: 0px;
  padding: 0px 16px;
}

.chatEmptyStateSubtitleBold {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.01em;
  color: black;
  max-width: 490px;
  margin-block-end: 0px;
  padding: 0px 16px;
}

.chatIcon {
  height: 62px;
  width: 62px;
}

.chatMessageStream {
  flex-grow: 1;
  max-width: 844px;
  width: 100%;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

.chatMessageUser {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  font-family: "Clarity City", sans-serif;
}

.chatMessageUserMessage {
  padding: 11px 16px;
  background: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #242424;
  order: 0;
  flex-grow: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: calc(100% - 30px);
  font-family: "Clarity City", sans-serif;
}

.chatMessageGpt {
  margin-bottom: 12px;
  max-width: calc(100% - 30px);
  display: flex;
  font-family: "Clarity City", sans-serif;
}

.chatMessageError {
  padding: 20px;
  background: #fadfde;
  border-radius: 8px;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Clarity City", sans-serif;
  max-width: 800px;
  /* filter: drop-shadow(rgba(182, 52, 67, 1) 1px 1px 2px) drop-shadow(rgba(182, 52, 67, 1) 0px 0px 1px); */
}

.chatMessageErrorContent {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-wrap;
  word-wrap: break-word;
  gap: 12px;
  align-items: center;
  font-family: "Clarity City", sans-serif;
}

.chatInput {
  position: sticky;
  flex: 0 0 100px;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 50px);
  max-width: 800px;
  margin-bottom: 50px;
  margin-top: 8px;
  font-family: "Clarity City", sans-serif;
}

.clearChatBroom {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 7px;
  top: 13px;
  color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  z-index: 1;
}

.clearChatBroomNoCosmos {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  bottom: 0px;
  color: #ffffff;
  border-radius: 10px;
  z-index: 1;
}

.newChatIcon {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 7px;
  top: 66px;
  color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  z-index: 1;
}

.stopGeneratingContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  gap: 4px;
  position: absolute;
  width: 161px;
  height: 32px;
  left: calc(50% - 161px / 2 + 25.8px);
  bottom: 116px;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
  font-family: "Clarity City", sans-serif;
}

.stopGeneratingIcon {
  width: 14px;
  height: 14px;
  color: #424242;
}

.stopGeneratingText {
  width: 122px;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Clarity City", sans-serif;
}

.citationPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
  gap: 8px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  flex: auto;
  order: 0;
  align-self: stretch;
  flex-grow: 0.3;
  max-width: 30%;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.citationPanelHeaderContainer {
  width: 100%;
}

.citationPanelHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.citationPanelDismiss {
  width: 18px;
  height: 18px;
  color: #424242;
}

.citationPanelDismiss:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.citationPanelTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #323130;
  margin-top: 12px;
  margin-bottom: 12px;
}

.citationPanelTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.citationPanelContent {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

a {
  padding-left: 5px;
  padding-right: 5px;
}

.viewSourceButton {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  flex-direction: row;
  align-items: center;
  padding: 4px 6px;
  gap: 4px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.viewSourceButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
