/* Regular (400) */
@font-face {
  font-family: "Clarity City";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Clarity City"),
    url(https://cdn.jsdelivr.net/npm/@clr/city@1.1.0/Webfonts/WOFF2/ClarityCity-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/npm/@clr/city@1.1.0/Webfonts/WOFF/ClarityCity-Regular.woff)
      format("woff");
}

/* Bold (700) */
@font-face {
  font-family: "Clarity City";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Clarity City Bold"),
    url(https://cdn.jsdelivr.net/npm/@clr/city@1.1.0/Webfonts/WOFF2/ClarityCity-Bold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/npm/@clr/city@1.1.0/Webfonts/WOFF/ClarityCity-Bold.woff)
      format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Clarity City", sans-serif !important;
}

html {
  background: #f2f2f2;
  font-family: "Clarity City", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  font-family: "Clarity City", sans-serif !important;
}

ms-StackItem {
  font-family: "Clarity City", sans-serif !important;
}
